<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form id="login-form" class="card-body">
        <div>
            <label for="login-username">Username</label>
            <input type="text" id="login-username">
        </div>
        <div>
            <label for="login-password" class="form-label">Password</label>
            <input type="password" id="login-password">
        </div>
        <button type="submit" id="login-button" class="button">Login</button>
        <a type="button" href="/signup">Sign Up!</a>
    </form>
</div>

<script src="./javascript/login.js"></script>