<div class="post-card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <form class="card-body">
        <label class="form-label" for="post-title">Title</label>
        <input type="text" name="post-title" class="form-input">

        <label class="form-label" for="post-body">Post Content</label>
        <input type="text" name="post-body" class="form-input">

        <button type="submit" class="button">Create</button>
    </form>
</div>

<script src="../public/javascript/newPost.js"