<div class="card">
    <div class="card-header">
        <h2>Sign Up!</h2>
    </div>
    <div id="signup">
        <form id="signup-form" class="card-body">
            <div>
                <label for="signup-username">Username</label>
                <input type="text" id="signup-username">
            </div>
            <div>
                <label for="signup-password">Password</label>
                <input type="text" id="signup-password">
            </div>
            <button type="submit" id="login-button" class="button">Login</button>
            <a type="button" href="/login">Already have an account? Login here!</a>
        </form>
    </div>
</div>

<script src="./javascript/signup.js"></script>